*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  height: 100vh;
  width: 100vw;
}

.page_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.central_element {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif_container {
  display: flex;
}

.header {
  margin-top: 20px;
}

.calc_block {
  display: flex;
  margin-top: 20px;
}

button {
  padding: 0px 5px;
  margin-left: 10px;
}

#calc_status {
  margin-top: 20px;
}
